<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
     <!--Begin AmazonCloudWatch config-->   
    <add key="awsAccessKeyId" value="AKIAJJG7PW75M7W7KPOA"/>
    <add key="awsSecretAccessKey" value="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"/>
    <add key="logGroupName" value="logGroupNameTest"/>
    <add key="logStreamName" value="streamTest5"/>
    <add key="regionEndpoint" value="APNortheast2"/>
    <!--for help https://docs.aws.amazon.com/sdkfornet/v3/apidocs/items/Amazon/TRegionEndpoint.html-->
    <!--End AmazonCloudWatch config-->
  </appSettings>
</configuration>