<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
     <!--Begin AmazonCloudWatch config-->   
    <add key="awsAccessKeyId" value=""/>
    <add key="awsSecretAccessKey" value=""/>
    <add key="logGroupName" value="logGroupNameTest"/>
    <add key="logStreamName" value="streamTest5"/>
    <!--to see region System name  https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Concepts.RegionsAndAvailabilityZones.html -->
    <add key="regionEndpoint" value="ap-southeast-1"/>    
    <!--End AmazonCloudWatch config-->
  </appSettings>
</configuration>